In [26]:
import pandas as pd
import numpy as np
from sklearn import tree, preprocessing
from sklearn.ensemble import RandomForestClassifier

In [27]:
df =pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name="Data")
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [28]:
df.drop(columns=['ID','ZIP Code'],inplace=True)

In [29]:
df.isnull().sum()

Age                   0
Experience            0
Income                0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [30]:
objList = df.select_dtypes(include = "object").columns
print(objList)

Index([], dtype='object')

In [31]:
rf_bankmodel = RandomForestClassifier(n_estimators=1000,max_features =2,oob_score=True)
features =["Age", "Experience", "Income", "Family", "CCAvg", "Education","Mortgage", "Securities Account", "CD Account", "Online", "CreditCard"]

In [32]:
rf_bankmodel.fit(X=df[features],y=df["Personal Loan"])

RandomForestClassifier(max_features=2, n_estimators=1000, oob_score=True)

In [33]:
print("OOB Accuracy :",rf_bankmodel.oob_score_)

OOB Accuracy : 0.9874

In [34]:
for feature, imp in zip(features,rf_bankmodel.feature_importances_):
    print(feature,imp)

Age 0.04516231832614208
Experience 0.04439395759661738
Income 0.3397033743046566
Family 0.09856057167308184
CCAvg 0.17725480018298484
Education 0.1702855909818673
Mortgage 0.04397143709034693
Securities Account 0.005694574743688237
CD Account 0.056327978885949856
Online 0.008379662251983147
CreditCard 0.010265733962681961

In [35]:
bank_tree_model =tree.DecisionTreeClassifier(max_depth = 8)

In [36]:
IndVar_Bank =pd.DataFrame([df["Income"],df["CCAvg"],df["Education"],df["Family"]]).T

In [37]:
bank_tree_model.fit(X=IndVar_Bank,y=df["Personal Loan"])

DecisionTreeClassifier(max_depth=8)

In [38]:
with open("Bank_Model.dot",'w') as f:
    f=tree.export_graphviz(bank_tree_model,feature_names=["Income","CCAvg","Education","Family"],out_file=f);

In [39]:
print("Classification Accuracy with the features  is :",bank_tree_model.score(X=IndVar_Bank,y=df["Personal Loan"]))

Classification Accuracy with the features  is : 0.9956